<h2>

    ¿Sabias que...? / Tips</h2>

<hr>

<div class="d-grid d-md-flex justify-content-end">
    <a class="btn btn-primary" routerLink="/tip/add">Agregar</a>
</div>

<br>



<ng-container *ngIf="!isLoading">



    <div *ngIf="tips.length > 0; else vacio" class="row row-cols-1 row-cols-md-3 row-cols-sm-2 g-4 mt-3">
        <div class="col" *ngFor="let tip of tips">
            <div class="card">
                <img [src]="tip.image | image:'tips'" class="card-img-top" [alt]="tip.image">
                <div class="card-body">
                    <p class="card-text">{{ tip.text }}</p>
                    <div class="d-grid d-md-flex justify-content-end">
                        <a class="btn btn-outline-primary mx-2" [routerLink]="['/tip/edit', tip._id ]">Editar</a>
                        <a class="btn btn-outline-primary" [routerLink]="['/tip', tip._id ]">Ver</a>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <ng-template #vacio>
        <div class="col mt-5 text-center">
            <h6>No hay Tips :(</h6>
        </div>
    </ng-template>




</ng-container>